html, body {
  height: 100%;
  margin: 0;
}
body{
    display:flex;
    flex-direction: column;
    gap:10vh
}
nav{
    flex: 0 0 auto;
    flex-direction: row;
    display: flex;
    background-color: gainsboro;
    padding:1%

}
main{
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10vh
}
footer{
    flex: 0 0 auto;
    display:flex;
    background-color: gainsboro;
    padding:1%
}
.page-links{
    flex: 3;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.user-actions{
    flex: 2;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.page-link-ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    width:60%;
    justify-content: space-around;
}
.product-carousel{
    display:flex;
    gap: 10vh
}
.product-carousel__products{
    display:flex;
    gap:10vh
}
.social-media{
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
}
.sm-ul{
    list-style: none;
}
.footer-links{
    flex:3;
    display:flex;
    justify-content: space-around;
}
.contact-p{
    white-space: pre-line;
}
.service-article{
    display:flex;
    white-space: pre-line;
    gap: 5vh;
}
.right-item{
    text-align: right;
}
.pc-container{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}
#pc-container-1{
    display:flex;
}
#pc-container-2{
    display:flex
}
.pc-container-1-item{
    display:flex; 
    flex: 3;
    flex-direction: column;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #333;
  width: 100vh;  
}

.menu::before,.menu::after {
  content: "";
  flex-grow: 1;               
  border-bottom: 1px solid #ccc;
}

.menu::before {
  margin-right: 10vh;         
}
.menu::after {
  margin-left: 10vh;           
}
.cta-banner {
    text-align: center;
    padding: 15vh;
    background: #f8f9fa;
    border-radius: 1vh;
}
.other-services{
    display:flex;
    flex-direction: column;
    gap: 10vh
}
.service-article img{
    width:100%;
    max-width: 60vh;
    height:auto;
    object-fit:cover;

}
.product-carousel__products figure{
    width: 25vh;
    height: auto;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    margin: 0 1vh;
}
.product-carousel__products figure img {
  max-width: 100%;
  height: auto;  /* control image height */
  object-fit: contain; /* no cropping; empty space if shorter */
}
.product-carousel button{
    background: none;
    border: none;
    cursor: pointer;
}
.product-carousel button img{
    max-height:10vh;
    min-height: 40px;
    width:auto;
}